<h3>
  Jobs
</h3>

<ul>
<%= for job <- @jobs do %>
  <li>
    <%= job.name %>
  </li>
<% end %>
</ul>

<nav class="foot-nav">
  <%= link "New",  to: job_path(@conn, :new) %>
  <%= link "Back", to: "/" %>
</nav>
